In [2]:
#Q1.Write a python program to create and print a dictionary which stores your infomation. (name,age,gender)



my_dict = {'name': 'Jack', 'age': 26 ,'gender':'male'}


my_dict['age'] = 26


print(my_dict)

{'name': 'Jack', 'age': 26, 'gender': 'male'}

In [3]:
#Q2. Write a python program to access the items of a dictionary by refering to its key name.

d1 = {102:'Rahul',105:'Payal',106:'Ajay'}
print(d1[106])

Ajay

In [4]:
#Q3. Write a python program to get a list of the value from a dictionary

data = {'manoja': 'java', 'tripura': 'python',
        'manoj': 'statistics', 'manoji': 'cpp'}
 

list(data.values())

['java', 'python', 'statistics', 'cpp']

In [5]:
#Q5.Write a python program to change the value of a specific item by refering to its key name




dict = {'hari': 1, 'dita': 2}
  

print("initial dictionary-", dict)
  

dict['dita'] = 4
  

print("dictionary after modification-", dict)

initial dictionary- {'hari': 1, 'dita': 2}
dictionary after modification- {'hari': 1, 'dita': 4}

In [10]:
#Q5.Write a python program to print all key names in the dicitonary one by one

student = {   'Ritika', 
                    'Sam',  
                    'John',  
                    'Aadi', }


print(student)

{'Sam', 'Aadi', 'John', 'Ritika'}

In [18]:
#Q6. Write a python program to create a dicitonary that contains three dictionaries.(nested)

people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

people[3] = {}

people[3]['name'] = 'Luna'
people[3]['age'] = '24'
people[3]['sex'] = 'Female'
people[3]['married'] = 'No'

print(people[3])

{'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}

In [19]:
#Q7.  Write a python program to merge two python dictionaries into one dictionary

dict_1 = {1: 'a', 2: 'b'}
dict_2 = {2: 'c', 4: 'd'}

print(dict_1 | dict_2)

{1: 'a', 2: 'c', 4: 'd'}

In [20]:
#Q8. Write a python program to create three dictionary then create one dictionary that will contain the otherthree dictionary



dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [22]:
#Q9 .Write a python program to get the key of lowest value from the dictionary sample_dict = {}

dictionary = {"C": 92, "Java": 66, "Python": 85}
 

min_key = min(dictionary, key=dictionary.get)
 
print(min_key)

 
print(dictionary.get(min_key))

Java
66