In [2]:
#Q1. Write a python script to store mutliple item  in a single variable by using method tuple

t1 = ["Java","Python"," SQL","C"]

print(t1)

['Java', 'Python', ' SQL', 'C']

In [4]:
#Q2. Write a python programme to store only one item using tuple

t2 =[ "Mumbai"]

print(t2)

['Mumbai']

In [7]:
#Q3.Write a python programme to reverse the tuple

x = [10,20,30,50]

y = reversed(x)
print(tuple(y))

(50, 30, 20, 10)

In [8]:
#Q4. Write a python program to swap two tuple in python

a=int(input("Enter the first number :"))
b=int(input("Enter the second number :"))
print ("a=",a, "b=",b)

Enter the first number :20
Enter the second number :30
a= 20 b= 30

In [9]:
#Q5.Write a python program to check if all items in the tuple are the same

x = (True, True, True)
result = all(x)
print(result)

True

In [10]:
#Q6. Write a python programe  to divide the tuple into four variables tuble 1 =(100,200,300,400)



a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
c = int(input("Enter the third number"))
d = int(input("Enter the fourth number"))

print("Divison of 4 numbers = ", a/b/c/d)

Enter the first number100
Enter the second number200
Enter the third number300
Enter the fourth number400
Divison of 4 numbers =  4.166666666666667e-06

In [12]:
#Q7.Write a python program to sort a tuple of tuples by the secondd item


t6 = (('a',21),('b',37),('c',11),('d',29))

print(sorted(t6))

[('a', 21), ('b', 37), ('c', 11), ('d', 29)]