In [1]:
#Q1.Write a python program to store all the programming language known to you using set

s1 = {"Java","C","SQL",}

print(s1)

{'Java', 'SQL', 'C'}

In [6]:
#Q2.Write a python program to store your own information {name,age,address} using set


name = "Akash"
age  =  20
gender = "Male"
print("Name: {}\nAge: {}\Gender: {}".format(name, age, gender))

Name: Akash
Age: 20\Gender: Male

In [7]:
#Q3.Write a python script to get the data type of a set

myset = {"abc", 34, True, 40, "male", "Hello", 20, "False"}
print(myset)

{True, 34, 'abc', 'male', 40, 'False', 'Hello', 20}

In [10]:
#Q4. Write a python script to find "PYTHON" is present in the set thisset = {"Java","Python",Django"}

thisset = {"Python", "Java", "Django"}

if "Python" in thisset:
  print("Yes, 'Python' is in this set")

Yes, 'Python' is in this set

In [18]:
#Q5. Write a python program to add items from another set to the current set thisset  s2 = {"Java","C","Python",}and second {"c","NoSQL","Cpp"}

thisset = {"Java","C","Python"}

thisset.add("c")

print(thisset)

{'c', 'Python', 'Java', 'C'}

In [23]:
#Q6. Write a python programming of list to a set



set1 = {"Java","Django","JavaScript"}


list_to_add = ["Java","C"]


set1.update(list_to_add)

print('Updated set after adding elements: ', set1)

Updated set after adding elements:  {'JavaScript', 'Java', 'Django', 'C'}

In [30]:
#Q7. Write a python program to remove last item of the given set

sets = {"Java","Django","JavaScript","SQL"}

sets.discard("SQL")
print(sets)

{'JavaScript', 'Java', 'Django'}

In [33]:
#Q8 . Write a python program to delte the set completly

sets = {"Java","Django","JavaScript","SQL"}

sets.clear()

print('sets (after clear):', sets)

sets (after clear): set()

In [34]:
#Q9 . Write a python program to find the maximum and minimum value of set


setn = {5, 10, 3, 15, 2, 20}
print("Original set elements:")
print(setn)
print(type(setn))
print("\nMaximum value of the said set:")
print(max(setn))
print("\nMinimum value of the said set:")
print(min(setn))

Original set elements:
{2, 3, 20, 5, 10, 15}
<class 'set'>

Maximum value of the said set:
20

Minimum value of the said set:
2